* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
    background-image: url("../images/26-3/bgrimg.jfif");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat; 
}
.header-pastel {
    text-align: center;
    padding: 40px 20px 20px;
    background: linear-gradient(145deg, #e6fcff, #d4fcff);
    border-radius: 0 0 30px 30px;
}
.title-main {
    font-size: 50px;
    color:rgb(0, 61, 61);
}
.btn-back {
    margin-top: 12px;
    background: #6fd6ff;
    color: #005b77;
    border: none;
    padding: 7px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    box-shadow: 0 3px 7px rgba(110, 70, 160, 0.25);
    transition: 0.2s ease;
    display: inline-block;
    text-decoration: none;
}
.btn-back:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(110, 70, 160, 0.33);
}
.img263 {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px 22px;
    margin: 18px 0;
    box-shadow: 0 8px 16px rgba(110, 70, 160, 0.18);
    transition: 0.25s ease;
}
.img:hover {
    transform: translateY(-4px);
    background: #e3f3ff;
}
.img-263 {
    width: 600px;
    height: cover;
    object-fit: cover;
    border-radius: 14px;
    border: 2px solid #d7feff;
    box-shadow: 0 3px 8px #ffffff;
}
.video-container {
    display: flex;
    justify-content: center; 
    align-items: center;   
}
.video-container video {
    width: 100%;       
    max-width: 700px;
    height: auto;    
}
.nd-263 {
    background: #00d9ff;
    border-radius: 16px;
    padding: 20px 22px;
    margin: 18px 0;
    box-shadow: 0 8px 16px rgba(110, 70, 160, 0.18);
}
.footer {
    text-align: center;
    margin-top: 18px;
    opacity: 0.7;
    font-size: 13px;
    margin-bottom: 20px;
}
.khung {
    background: #d0fdff;
    border-radius: 16px;
    padding: 40px 44px;
    margin: 18px 0;
    box-shadow: 0 8px 16px rgba(110, 70, 160, 0.18);  
}